Filter By Winners: <span id="winner-filter-total"></span>
<form id="winner-filter">
	<input type="checkbox" value="all" id="all-id" checked="checked"/>
	<label for="all-id">All</label>
	
	{% for player in players %}
		<input type="checkbox" id="{{ player.name }}-id" value="{{ player.name }}"/>
		<label for="{{ player.name }}-id">{{ player.name }}</label>
	{% endfor %}
</form>

<hr/>

<div class="clearfix games">
{% for game in games %}
	<div class="game">
	{% include 'ShadowBundle:Game:_game.html.twig' with {'game': game} %}
	</div>
{% endfor %}
</div>

<script>
$(function() {
	$( "#winner-filter" ).buttonset();
	indexGameWinners();
	$( "#winner-filter input" ).change(handleFilterWinners);
});
</script>