@import 'elements.less';

@border: 1px solid #DFDFDF;
@twoBox() {
	padding: 5px 10px;
	width : 392px;
}

@header() {
	background: #ddd;
	padding: 5px;
	margin: 0px;
	display: block;
	font-size: 1.2em;
};

.game {
	float: left;
	height: 340px;
	
	h3 {
		@header();
	}
	
	@border-radius(0px; 10px; 10px; 0px);
	border: @border;
	margin: 0px 10px 20px 10px;
}

.field {
	.error {
		padding: 0.3em .8em;
		background: transparent;
	}
	
	label {
		width: 90px;
		display: inline-block;
	}
	
	&.players {
		width: auto;
		height: auto;
		padding: 0px;
	}
		
	&.playercharacter {
		> label {
			width: auto;
			@header();
		}
		
		display: block;
		border: @border;
		@border-radius(0px; 10px; 10px; 0px);
		width: 255px;
		padding: 10px;
		margin: 10px 0px 10px 10px;
		float: left;
		min-height: 170px;
	}
	
	&.date {
		div {
			display: inline-block;
		}
		
		div.hide {
			display: none;
		}
	}
}

.stats {
	&.player {
		width: 30px;
		float: left;
		margin: 10px;
		display: block;
		border: @border;
		height: 120px;
		
		@border-radius(0px; 10px; 10px; 0px);
		@twoBox();
		
		.name {
			display: inline-block;
			width: 80px;
		}
		
		.title.name {
			width: auto;
			@header;
		}
		
		.stats {
			display: block;
		}
	}
	
	.win-rate, .alive-rate {
		width: 150px;
		display: inline-block;
	}
}

.players {
	@twoBox();
	height: 280px;

	.won {
		font-weight: bold;
		
		a {
			color: blue;
		}
	}
	
	.player {
		padding: 3px 0px;
		clear: both;
		display: block;
	
		.username {
			display: block;
			float: left;
			width: 150px;
		}
		
		.shadow {
			color: red;
		}
		
		.netural {
			color: gray;
		}
		
		.hunter {
			color: green;
		}
	}
}