{% extends "OdlShadowBundle::layout.html.twig" %}

{% block title %}
    Characters
{% endblock %}

{% block content %}
    <h3>All Characters </h3>

    {% for char in charsStats %}
        <div>
        {% include 'OdlShadowBundle:Character:_char.html.twig' with {'char': char} %}
        </div>
    {% endfor %}
{% endblock %}
