{% extends "ShadowBundle::basestats.html.twig" %}
{% set stats = char %}

{% block name %}
	<span class="title name">
		<a href="{{ path('odl_shadow_main_char', {'charName' : stats.name}) }}">
			{{ stats.name }}
		</a>
	</span>
{% endblock %}
