<strong class="span-2">{{ faction.name }}</strong> 
<a title="Total Win">{{ faction.totalWin }}</a> /
<a title="Total Played">{{ faction.totalPlayed }}</a> : 
<a title="Win rate">{{ faction.getPercentage() }}%</a>