{% extends "ShadowBundle::basestats.html.twig" %}
{% set stats = player %}

{% block name %}
	<span class="title name">
		<a href="{{ path('odl_shadow_main_player', {'id' : stats.name}) }}" title="stats.getPercentage()">
			{{ stats.name }}
		</a>
	</span>
{% endblock %}

{% block stats %}
	<span class="name">Overall</span> 
	{{ parent() }}
	
	{% for faction in player.factions %}
		{% include 'ShadowBundle:Main:_faction.html.twig' with {'faction': faction} %}
	{% endfor %}
{% endblock %}
