{% extends "ShadowBundle::layout.html.twig" %}
{% form_theme formView "ShadowBundle:Form:fields_game.html.twig" %}

{% block title %}
	Add a new game
{% endblock %}

{% block content %}
	<h3>Add new item</h3>
	
	<form id="add_game">
		<div class="clearfix">
			{{ form_widget(formView) }}
		</div>
		
		<input type="submit" value="Submit" />
		<input type="button" value="Save" onclick="$('#add_game').ajaxForm()"/>
	</form>
	
	<div id="player_template" style="display:none">
		<label for="form_players_index" class="">New Player</label>
		<div id="form_players_index" name="form[players][index]" required="required">
			<div class="username text field" id="form_players_index_username-container">
				<label for="form_players_index_username" class="">Username</label>
				<input type="text" id="form_players_index_username" name="form[players][index][username]" value="">
			</div>
			<div class="text field" id="form_players_index_character-container">
				<label for="form_players_index_character" class="">Character</label>
				<input type="text" id="form_players_index_character" name="form[players][index][character]" value="">
			</div>
			<div class="checkbox field" id="form_players_index_isWin-container">
				<label for="form_players_index_isWin" class="">Won?</label>
				<input type="checkbox" id="form_players_index_isWin" name="form[players][index][isWin]" value="0">
			</div>
			<div class="checkbox field" id="form_players_index_isAlive-container">
				<label for="form_players_index_isAlive" class="">Alive?</label>
				<input type="checkbox" id="form_players_index_isAlive" name="form[players][index][isAlive]" value="0">
			</div>
			<div class="checkbox field" id="form_players_index_isLastDeath-container">
				<label for="form_players_index_isLastDeath" class="">Last Death?</label>
				<input type="checkbox" id="form_players_index_isLastDeath" name="form[players][index][isLastDeath]" value="0">
			</div>
		</div>
	</div>
	
	<script>
		var playerNames = {{ playerNames | json_encode |raw }};
		var charNames = {{ characterNames | json_encode |raw }};
		
		$('#add_game .players .text.field input').each(function() {
			var availableTags = charNames;
			if ($(this).parent().hasClass('username'))
				availableTags = playerNames;
				
			$(this).autocomplete({
				source: availableTags,
				autoFocus: true,
				delay: 0
			});
		});
	</script>
{% endblock %}