{% extends "ShadowBundle::layout.html.twig" %}

{% block title "Shadow Hunters!!" %}

{% block content %}
	<div>
		<h3>Faction Stats: </h3>
		{% for faction in factions %}
			<div>
			{% include 'ShadowBundle:Main:_faction.html.twig' with {'faction': faction} %}
			</div>
		{% endfor %}
	</div>
	
	<hr/>
	<div>
		<h3>Player Stats: </h3>
		{% for player in players %}
			<div>
			{% include 'ShadowBundle:Main:_player.html.twig' with {'player': player} %}
			</div>
		{% endfor %}
	</div>
	
	<hr/>
	<div>
		<h3>Character Stats: </h3>
		{% for char in charsStats %}
			<div>
			{% include 'ShadowBundle:Main:_faction.html.twig' with {'faction': char} %}
			</div>
		{% endfor %}
	</div>
	
	<hr/>
	<div>
		<h3>Games: </h3>
		{% for game in games %}
			<div class="game">
			{% include 'ShadowBundle:Main:_game.html.twig' with {'game': game} %}
			</div>
		{% endfor %}
	</div>
	
{% endblock %}
