{% extends "ShadowBundle::layout.html.twig" %}

{% block title "Shadow Hunters!!" %}

{% block content %}
	<h3>Players Chart: </h3>
	{% include 'ShadowBundle:Main:_chart.html.twig' with 
		{'charts': charts}
	%}
{% endblock %}
