{% extends "OdlShadowBundle::layout.html.twig" %}

{% block title %}
	{{ player.name }}
{% endblock %}

{% block content %}
	<h3>Player: {{ player.name }} </h3>
	<div class="clearfix">
		{% include 'OdlShadowBundle:Main:_player.html.twig' with {'player': player} %}
	</div>

	<hr/>
	<div>
		<h3>Games Played: {{ player.games | length }}</h3>
		{% include 'OdlShadowBundle:Game:_games.html.twig' with
			{'games': player.games, 'players': players}
		%}
	</div>
{% endblock %}