{% extends "OdlShadowBundle::layout.html.twig" %}

{% block title %}
	Players
{% endblock %}

{% block content %}
	<h3>All Players </h3>
	{% for player in players %}
		<div>
		{% include 'OdlShadowBundle:Main:_player.html.twig' with {'player': player} %}
		</div>
	{% endfor %}
	<div class="clearfix" />
{% endblock %}