{% extends "ShadowBundle::layout.html.twig" %}

{% block title %}
	{{ player.name }}
{% endblock %}

{% block content %}
	<h3>Player: {{ player.name }} </h3>
	{% include 'ShadowBundle:Main:_player.html.twig' with {'player': player} %}
	<hr/>
	<div>
		<h3>Games Played: {{ player.games | length }}</h3>
		{% include 'ShadowBundle:Main:_games.html.twig' with 
			{'games': player.games, 'players': players} 
		%}
	</div>
{% endblock %}